* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #ffffffd6;
}
.section-padding {
    padding-top: 70px ;
    padding-bottom: 70px;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 200px;
    z-index: 2;

}
.navbar{
  background: #151414eb;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;

    line-height: 1.9;
}
.carousel-inner::before {
    counter-reset: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 30, 81, 0.327);
    z-index: 1;
}
 
.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.navbar-img {
    height: 60px;

}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(126, 42, 42);

}
.w-100 {
    height: 100vh;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}


.navbar {
    -webkit-box-shadow: 0px 7px 20px 2px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 7px 20px 2px rgba(0,0,0,0.74);
box-shadow: 0px 7px 20px 2px rgba(0,0,0,0.74);

}
.services .card-body {
    font-size: 50px;
}
@media(max-width: 767px ) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-item {
        height: 60vh;
    }
    .w-100 {
        height: 60vh;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
    .section-padding {
        padding: 50px 0;
    }
}
.portal1 {
    padding-top: 25px;
    font-size: 20px;
}
.especi {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tituloportal {
    font-size: 50px;
    font-weight: 500;
}
.servs {
    font-size: 42px;
    padding-bottom: 10px;
} 
.info2 {
    font-size: 40px;

}
.info3 { padding-bottom: 30px;
    padding-top: 10px;
   font-size: 20px;
}
/* ======================================================================0 */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    max-width:100%;
  }
  
  
  .card-grid {
    width:100%;
  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .card-wrap {
    float:left;
    width:100%;
    padding:5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width:50%;
    }
  }
  @media (min-width: 720px) {
    .card-wrap {
      width:25%;
    }
  }
  

  .card {
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
  }
  .card > div {
    padding: 1em;
  }

  /* ============================================================================================== */
  .footer {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer .heading {
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.829);
  }
  
  .footer .content a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.829);
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }
  



  /* ============================================================================================ */
.img-fluid {
  border-radius: 10px;
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

h1 .terminos-legales { padding: 100px;
  text-align: center;
  justify-content: center;
}



